---
layout: default.hbs
subject: Dummy email
cssPath: dummy
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1 class="align-center">Dummy email</h1>
            <p>Hi there,</p>
            <p>
             I am a dummy email ready to be duplicate!
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>